body 
    h1, h2, h3 {
    background-color:whitesmoke;
  
    color: black;
    text-align: center;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: blue;
  }
  table, th, td {
    border:1px dotted black;
    border: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 30px;
    background-color: grey;
    padding: 25px;

  }
  ul {
    list-style-type: circle;
  }

  
  ol {
    list-style-type: upper-roman;
  }
  
 

